{% load static %}

<footer class="footer">
	<div class="footer-bottom">
		<p class="copy">&copy; Copyright 2018 - Всички права запазени.</p>
<!-- 		<a href="#" class="logo">
			<svg aria-hidden="true" class="logo-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#nav-logo"></use>
			</svg>
			<span>cez group</span>
		</a>
 -->		<nav class="nav-primary nav-footer">
			<ul>
				<li class="selected">
					<a href="{{ terms_page.get_absolute_url }}">условия за ползване</a>
				</li>
				<li >
					<a href="{% url 'sitemap' %}">карта на сайта</a>
				</li>
			</ul>
		</nav>
		<a href="https://pytek.bg" target="blank" class="trademark">
			<svg aria-hidden="true" class="icon logo-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#pytek"></use>
			</svg>
		</a>
	</div>
</footer>