{% load static %}

<header class="header header-index">
	<div class="index-wrapper">
		<a href="index.html" class="logo">
			<svg aria-hidden="true" class="logo-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#nav-logo"></use>
			</svg>
			<span>CEZ GROUP</span>
		</a>

		<a href="javascript:;" class="btn btn-menu" id="js-menu-trigger" data-active-target="#js-menu-target"><span></span></a>

		<a href="javascript:;" class="btn btn-search-trigger" id="js-search-trigger" data-active-target="#js-search-target">
			<svg aria-hidden="true" class="icon icon-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#search"></use>
			</svg>
		</a>
	</div>
</header>