{% load static i18n %}
<header class="header">
	<div class="index-wrapper">
		<a href="{% url 'index' %}" class="logo">
			<svg aria-hidden="true" class="logo-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#nav-logo"></use>
			</svg>
			<span>{% trans "CEZ GROUP" %}</span>
		</a>
		<a href="javascript:;" class="btn btn-menu" id="js-menu-trigger" data-active-target="#js-menu-target"><span></span></a>
		<nav class="nav-lang">
			{% get_current_language as LANGUAGE_CODE %}
				<ul class="nav-lang-body">

				<li {% if LANGUAGE_CODE == "bg" %}class="selected"{% endif %}><a data-lang="bg" href="javascript:;">БГ</a></li>
				<li {% if LANGUAGE_CODE == "en" %}class="selected"{% endif %}><a data-lang="en" href="javascript:;">EN</a></li>
				</ul>
		</nav>
		<form style="display: none;" action="{% url 'set_language' %}" class="language-switcher-form" method="post">{% csrf_token %}
				<input name="next" type="hidden" value="{{ redirect_to }}">
				<select name="language" class="language">

						{% get_available_languages as LANGUAGES %}
						{% get_language_info_list for LANGUAGES as languages %}
						{% for language in languages %}
								<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
										{{ language.name_local }} ({{ language.code }})
								</option>
						{% endfor %}
				</select>
				<input type="submit" value="Go">
		</form>

		<a href="javascript:;" class="btn btn-search" id="js-search-button" >
			<svg aria-hidden="true" class="icon icon-svg">
				<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#search"></use>
			</svg>
		</a>
		{% include 'partials/_header-nav.html' %}
		{% include 'partials/_search.html' %}
		</div>

</header>