{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="page-overlay"></div>
<div class="main-head">
	<div class="background">
		<img src="{% get_static_prefix %}images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">{{ page.title }}</h1>
			<h5 class="breadcrumbs">
				<ul>
					<li><a href="{% url 'index' %}"><span>начало</span></a></li>
					<li><a href="{{ about_us_page.get_absolute_url }}"><span>{{ page.title }}</span></a></li>
				</ul>
			</h5>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="wrapper">
			<div class="b-about-us">
				<div class="b-text-wall">
					<div class="richtext">
						<h2 class="heading">{{ page.title }}</h2>
						<p class="text">{{ page.description|safe|default:"" }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}