{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-head">
	<div class="background">
		<img src="{% get_static_prefix %}images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">BABA</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="{% url 'index' %}"><span>начало</span></a></li>
					<li><a href="{% url 'company:companies' %}"><span>дружества</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main">
	<div class="main-body">
		<div class="wrapper">
			<div class="b-companies">
				<div class="b-companies-head">
					<h2 class="companies-title">дружества</h2>
					<h4 class="companies-description">Lorem Ipsum Dolor Sit Amet Pastet Mish Mash Paprikash Chesun Banica and Bob with Nadenica</h4>
				</div>
				<div class="boxes boxes-companies">
				{% for item in companies_all %}
					<div class="box box-companies">
						<a href="{{ item.get_absolute_url }}">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#box-companies-icon"></use>
							</svg>
							<div class="textcontent">
								<h4>{{ item.title|safe|default:'' }}</h4>

								<p>{{ item.description|safe|default:'' }}</p>
								<span>към дружество
									<svg aria-hidden="true" class="icon icon-svg">
										<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#arrow-icon"></use>
									</svg>
								</span>
							</div>
						</a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}