{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="main-head">
	<div class="background">
		<img src="{% get_static_prefix %}images/large/about-us-1920x265.jpg" alt="" width="1920" height="256" />
	</div>
	<div class="main-head-title">
		<div class="wrapper">
			<h1 class="title">контакти</h1>
			<div class="breadcrumbs">
				<ul>
					<li><a href="#"> <a href="#"><span>начало</span></a></li>
					<li><a href="#"> <a href="#"><span>резултати от търсене</span></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="main">
		<div class="page-overlay">
		</div>
	<div class="main-body">
		<div class="wrapper">
			<div class="search-headline">
				<h4>Търсена дума:</h4>
				<h4 class="mid">{{request.GET.q}} | резултати: {{ results | length }} </h4>

			</div>
			<div class="boxes boxes-search">
				<div class="box box-search">
					<a href="#">
					<h2 class="title">Резултат от търсенето</h2>
						<div class="richtext">
						{% for result in page_obj %}


							{% if result.get_model_name == 'Contacts' %}
							 <li> <a href="{% url 'contacts' %}">
								<p>Име: {{result.title}}</p>
								<p>Компания: {{result.company}}</p>
								<p>Адрес: {{result.address}}</p>
								<p>Работно време: {{result.working_time}}</p>
								<p>Телефон: {{result.phone_number}}</p>
							</a></li>

							{% elif result.get_model_name == 'ExternalLinks' %}
								<li> <a href="{% url 'externallinks' %}">
								<p>Име: {{result.title}}</p>
								<p>Кратко описание: {{result.short_description}}</p>
								</a></li>

							{% elif result.get_model_name == 'Faqs' %}
							<li> <a href="{% url 'faqs' %}">
								<p>Въпрос: {{result.question}}</p>
								<p>Отговор: {{result.answer}}</p>
							</a></li>

							{% else %}
							<li> <a href="{{result.object.get_absolute_url}}">
								<p>Title: {{result.title}}</p>
								<p>Description: {{result.description|safe}}</p>
							</a></li>
							{% endif %}

							{% empty %}

							<p>Ня нищу</p>
						{% endfor %}
						</div>
					</a>
				</div>

			</div>
			<nav class="paging">
				<ul>
					<li class="first">
						<a href="{{request.path}}?q={{request.GET.q}}&page=1">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#paging-double-arrow"></use>
							</svg>
						</a>
					</li>
					{% if page_obj.has_previous %}
					<li class="previous">
						<a href="{{request.path}}?q={{request.GET.q}}&page={{page_obj.previous_page_number}}">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#paging-arrow"></use>
							</svg>
						</a>
					</li>
					{% endif %}
					{% for num in page_obj.paginator.page_range %}
					<li class="selected"><a href="{{request.path}}?q={{request.GET.q}}&page={{num}}">{{num}}</a></li>
					{% endfor %}
					{% if page_obj.has_next %}
					<li class="next">
						<a href="{{request.path}}?q={{request.GET.q}}&page={{page_obj.next_page_number}}">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#paging-arrow"></use>
							</svg>
						</a>
					</li>
					{% endif %}
					<li class="last">
						<a href="{{request.path}}?q={{request.GET.q}}&page={{page_obj.end_index}}">
							<svg aria-hidden="true" class="icon icon-svg">
								<use xlink:href="{% get_static_prefix %}images/svg-sprite.svg#paging-double-arrow"></use>
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>
{% endblock %}



