{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>CEZ</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="shortcut icon" type="image/x-icon" href="{% get_static_prefix %}images/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9_kbn6AfDU_i5uMrEG-cULhIir5LKeho"></script>

	<link rel="stylesheet" href="{% get_static_prefix %}styles/build/build.css" type="text/css" media="all" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
<div class="container" id="js-container">

        {% include 'partials/_header.html' %}

        {% block content %}
        {% endblock %}

		{% include 'partials/_footer.html' %}

	<script src="{% get_static_prefix %}scripts/build/build.js"></script>
</body>
		{% block extra_js %}
<script>
	function changeLanguage(lang) {
		$(".language-switcher-form select[name='language']").val(lang);
		$(".language-switcher-form").submit();
	}
		$('.nav-lang-body a').on('click', function (){
				changeLanguage($(this).data('lang'));
		});
</script>
		{% endblock %}
</div>
</html>
